<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/kanban.css">
    <!-- JS -->
    <script src="../js/" defer></script>
</head>
<body>
    <header id="header">
        <article class="logo">
            <figure class="img">
                <img src="src/img/logo.png" alt="Logo da plataforma">
            </figure>

            <h1 class="title">Project Manager</h1>
        </article>
    </header>

    <main id="main">

    </main>

    <footer id="footer">
        <article class="socials">

        </article>

        <article class="terms">
            <span>
                © 2024 Project Manager. All rights reserved.
            </span>

            <span>
                Privacy Policy
            </span>

            <span>
                Terms of Service
            </span>
        </article>
    </footer>
</body>
</html>