<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/kanban.css">
</head>
<body>
    <header id="header">
        <article class="logo">
            <figure class="img">
                <img src="../img/logo.png" alt="Logo da plataforma">
            </figure>

            <h1 class="title">Project Manager</h1>
        </article>

        <nav class="nav">
            <ul class="list-menu">
                <a href="" target="_self" rel="next">Home</a>

                <a href="../../index.html" target="_self" rel="prev">About</a>

                <a href="" target="_self" rel="next">Settings</a>

                <a href="" target="_self" rel="next">Profile</a>
            </ul>

            <article class="search">
                <input type="text" name="search" id="search" placeholder="Search in site">

                <figure class="icon">
                    <img src="../img/search-icon.png" alt="Search icon">
                </figure>
            </article>
        </nav>
    </header>

    <main id="main">
        <article class="table">
            <h1 class="title">To do</h1>

            <ul class="list-cards">
                <article class="card">
                    <div class="level-date">
                        <span class="level high">
                            High
                        </span>

                        <span class="date">
                            Oct 16, 24
                        </span>
                    </div>

                    <h2 class="name">Create app</h2>

                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>

                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-5.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-1.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-2.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-3.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>

                <article class="card">
                    <div class="level-date">
                        <span class="level mid">
                            Mid
                        </span>

                        <span class="date">
                            Oct 09, 24
                        </span>
                    </div>

                    <h2 class="name">Train for the project</h2>

                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>

                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-2.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>

                <article class="card">
                    <div class="level-date">
                        <span class="level low">
                            Low
                        </span>

                        <span class="date">
                            Oct 06, 24
                        </span>
                    </div>

                    <h2 class="name">Make popcorn</h2>

                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>

                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>
            </ul>
        </article>

        <article class="table">
            <h2 class="title">In Progress</h2>

            <ul class="list-cards">
                <article class="card">
                    <div class="level-date">
                        <span class="level high">
                            High
                        </span>

                        <span class="date">
                            Oct 08, 24
                        </span>
                    </div>

                    <h2 class="name">Debug error</h2>

                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>

                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-5.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-1.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-2.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-3.png" alt="User">
                            </figure>

                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>
            </ul>
        </article>

        <article class="table">
            <h2 class="title">Complete</h2>

            <ul class="list-cards">
                <article class="card">
                    <div class="level-date">
                        <span class="level low">
                            Low
                        </span>

                        <span class="date">
                            Apr 02, 21
                        </span>
                    </div>

                    <h2 class="name">Eat a sandwich</h2>

                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>

                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>

                <article class="card">
                    <div class="level-date">
                        <span class="level mid">
                            Mid
                        </span>

                        <span class="date">
                            Jan 28, 86
                        </span>
                    </div>
                    
                    <h2 class="name">Drink water</h2>
                    
                    <div class="icon-people">
                        <figure class="icon">
                            <img src="../img/close-icon.png" alt="Close icon">
                        </figure>
                        
                        <ul class="list-people">
                            <figure class="account">
                                <img src="../img/user-4.png" alt="User">
                            </figure>
                        </ul>
                    </div>
                </article>
            </ul>
        </article>
    </main>

    <footer id="footer">
        <ul class="socials">
            <a href="http://facebook.com.br" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/facebook.png" alt="Facebook logo">
                </figure>
            </a>
            
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/instagram.png" alt="Instagram logo">
                </figure>
            </a>
            
            <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/linkedin.png" alt="Linkedin logo">
                </figure>
            </a>
        </ul>

        <article class="terms">
            <span>
                © 2024 Project Manager. All rights reserved.
            </span>

            <span>
                Privacy Policy
            </span>

            <span>
                Terms of Service
            </span>
        </article>
    </footer>
</body>
</html>