<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Manager</title>
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <!-- JS -->
    <script src="../js/login.js" defer></script>
</head>
<body>
    <header id="header">
        <article class="logo">
            <figure class="img">
                <img src="../img/logo.png" alt="Logo da plataforma">
            </figure>

            <h1 class="title">Project Manager</h1>
        </article>
    </header>

    <main id="main">
        <article class="texts">
            <h1 class="title">Login Information</h1>

            <h2 class="subtitle">Enter your credentials</h2>
        </article>

        <form action="../view/kanban.html" class="form">
            <article class="input">
                <label for="email">Email</label>

                <input type="email" name="email" id="email" placeholder="Enter your email">
            </article>

            <article class="input">
                <label for="password">Password</label>

                <input type="password" name="password" id="password" placeholder="Enter your password">
            </article>

            <button type="submit" class="btn" id="btn-login">Login</button>
        </form>
    </main>

    <footer id="footer">
        <ul class="socials">
            <a href="http://facebook.com.br" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/facebook.png" alt="Facebook logo">
                </figure>
            </a>
            
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/instagram.png" alt="Instagram logo">
                </figure>
            </a>
            
            <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer" class="logo">
                <figure>
                    <img src="../img/linkedin.png" alt="Linkedin logo">
                </figure>
            </a>
        </ul>

        <article class="terms">
            <span>
                © 2024 Project Manager. All rights reserved.
            </span>

            <span>
                Privacy Policy
            </span>

            <span>
                Terms of Service
            </span>
        </article>
    </footer>
</body>
</html>